@keyframes rowAnimation {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .table-row-animation {
    animation: rowAnimation 1.9s ease;
  }